// Place all the styles related to the Apartments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap";
input[type="number"] {
    width: 60px;
}
.new-apartment-form {
  width: 600px;
  label {
    @extend .form-control-label;
  }
  textarea {
    width: 400px;
  }
}

.inputfile {

    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
    font-family: sans-serif;
    & + label {
        font-size: 1.25em;
        font-weight: 700;
        display: inline-block;
        cursor: pointer;
    }
}
.inputfile + label:hover,
.inputfile:focus + label {
    color: cadetblue;
}
.box-upload {
    $offset: 10px;
    width: 500px + $offset;
    padding: 25px 30px;
    background-color: #c8dadf;
    outline: 2px dashed #92b0b3;
    outline-offset: -$offset;
    transition-duration: 0.5s;
    box-sizing: border-box;
    &.is-dragover {
        background-color: whitesmoke;
    }
    img {
        height: 110px;
        margin-right: 10px;
        &:hover {
            /*max-width: 115px;*/
            filter:brightness(70%);
        }
    }
    .img-preview {
        /*min-height: */
    }
    .comment {
        color: gray;
        font-size: 0.9em;
        font-weight: 500;
    }
    .upload {
        margin: 15px 0;
    }
}

.apartment-list {
    .controls {
      display: inline-block;
    }
    .item {
        display: flex;
    }
    .price {
        text-align: end;
    }
    .apartment-title {
        color: #212121;
        font-size: 2em;
        padding: 10px 0 23px;
        // line-height: 1.5;
    }
    .info {
        padding: 5px 30px 10px 20px;
    }
    .photo {
        img {
            width: 330px;
        }
    }
}
.preview {
    margin-right: 10px;
    position: relative;
    display: inline-block;
    transition-duration: 0.5s;
    &:hover {
        /*max-width: 115px;*/
        -webkit-filter:brightness(70%);
    }
	input[type="checkbox"] {
		display: none
	}
}
.remove {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -15px;
    margin-left: -15px;
    background-image: image-url("bin.svg");
    background-size: 21px 22px;
    background-size: cover;
    width: 30px;
    height: 30px;
    cursor: pointer;
    &:hover {
        background-image: image-url("bin-red.svg");
    }
}

.type-selector {
    display: flex;
    justify-content: center;
}


//apartments on map
.apartments.map {
    #content {
        margin: 0
    }

    #map {
        width: 100%;
        height: 840px;
    }
}
.apartment-card {
  display:flex;
  flex-direction:column;
  background:white;
  width:320px;
  .title {
      font-weight:bolder;
      font-size: 1.1em;
   }
   .photo {
     img {
       max-width: 100%;
     }
   }
   .address {
     font-size: 1.2em;
     font-weight: bold;
   }
}



/*show action*/
.apartments.show {
    #content {
        display: flex;
        flex-flow: row wrap;
    }
    .info-left, .info-right {
        flex:1 50%;
    }
    .info-left {
        padding-right: 20px;
    }
    .info-right {
        padding-left: 20px;
    }
    address {
        font-size: 1.5em;
        font-weight: bolder;
    }
    .price-block {
        .total {
            font-size: 1.3em;
            font-weight:bolder;
        }
        .per-sq {
            font-size: 0.9em
        }
    }
    .date-added, .date-updated {
        color: #808080;
        margin-left: auto;
        text-align: end;
    }
}
#interactive-map {
    height: 600px;
    width: 600px;
    flex: 100%
}
#apartment_photos img {
    height: 160px;
}

.top-block {
    display: flex;
    &.offer-posted,
    &.price,
    address {
        flex: 1;
    }
}
