// Place all the styles related to the Apartments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.top-block {
	display: flex;
	address,
	&.price,
	&.offer-posted {
		flex:1
	}
}
#interactive-map {
	height: 600px;
	width: 600px;
}
