<p id="notice"><%= notice %></p>
<script src="//api-maps.yandex.ru/2.1-dev/?lang=ru-RU&amp;load=package.full" type="text/javascript"></script>
<%= render "type_selector" %>

<h1>Listing Apartments</h1>

тут будут фильтры


<%= content_tag("div",nil,id:'map') %>
